*.class

# Package Files #
*.jar
*.war
*.ear

# Tex
*.aux
*.glo
*.idx
*.log
*.lol
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.tdo
*.synctex.gz
rapport.pdf
#latexmk
*.fdb_latexmk
*.fls


# VIM
*.swp
#Mac
.DS_Store
